.Avatar {
  width: 100px;
  height: 300px;
  border: 1px solid #000;
  margin: 0 20px 20px 0;
  float: left;
  background-position: center;
  background-size: 310%;
  background-repeat: no-repeat;
  opacity: 0.6;
  border-radius: 2%;
}

.Avatar:hover {
  transform: scale(1.1);
  opacity: 1.0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}
