.App {
  padding: 2rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-section {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.div-persons {
  height: 50%;
}

.presentation {
  padding: 20px;
}

.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5rem;
}

.description-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.about-wrapper {
  width: 30rem;
  background-color: #000;
  border: solid white;
  border-radius: 1rem;
}

h3, .description {
  color: #fff;
  padding: 1rem;
}

h3 {
  text-align: center;
}

@media only screen and (min-width: 767px) and (max-device-width : 1024px) {
  .div-persons {
    width: 100%;
  }

  .presentation {
    padding: 0;
    width: 80%;
    margin-bottom: 2rem;
  }

}

@media only screen and (min-width: 767px) and (max-device-width : 1024px) {
  .description-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .about-wrapper {
    width: 100%;
  }

}
