.App {
  padding: 2rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-section {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.div-persons {
  height: 50%;
}

.presentation {
  padding: 20px;
}

.title {
  font-size: 30px;
  text-align: center;
}

.description-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.about-wrapper {
  width: 30rem;
  background-color: #000;
  border: solid white;
  border-radius: 1rem;
}

h3, .description {
  color: #fff;
  padding: 1rem;
}
