.App {
  padding: 2rem;
}

.avatar-section {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.div-persons {
  height: 100vh;
}

.presentation {
  padding: 20px;
}

.title {
  font-size: 30px;
  text-align: center;
}
